/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i";
body {
    /* font-family: mylightFont; */
    font-weight: 300;
    background: #fafafa;
}

.bcard {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: rgba(249, 98, 159, 1);
    background: linear-gradient(180deg, rgba(249, 98, 159, 1) 10%, rgba(255, 0, 191, 1) 100%);
    background-size: cover;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

/* #sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
} */



a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    /* font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #ffffff;
    color: rgb(0, 0, 0); */
    border-radius: .35rem;
    box-shadow:0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
    background-color: #fff;
    color: #3a3b45;
}
ul ul a:hover {
    padding: .5rem 1rem;
    margin: 0 .5rem;
    display: block;
    color: #3a3b45;
    text-decoration: none;
    border-radius: .35rem;
    white-space:nowrap;
    background-color:#eaecf4;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

#fname, #lname, #uname {
    width: 25%;
    padding: 3px 15px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#email {
    width: 70%;
    padding: 3px 15px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#phone {
    width: 12.6rem;
    padding: 3px 15px;
    margin:12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#role, #gender{
    width: 28.07rem;
    padding: 5px 15px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 1rem;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}
.btn {
    float: right;
    /* margin-top: 1rem; */
}
.btn-default {
    margin-right: 0.5rem;
    background-color: #5aa85d;

}

.btn-danger {
    margin-bottom: 1rem;
    background-color: #FF6BD3;
    border-color:#FF6BD3;
}
.btn-danger:hover{
    background-color: #FF6BD3;
    border-color:#FF6BD3;
}
.btn-primary{
    margin-right: 0.5rem;
    background-color: #5f5f5f;
    border-color:#5f5f5f;
}
.btn-primary:hover{
    background-color: #5f5f5f;
    border-color:#5f5f5f;
}
.btn-sm {
    height: 2rem;
}
.btn-primary.btn-sm {
    margin-right: 0.5rem;
    width: 2rem;
}
.btn-danger.btn-sm {
    width: 2rem;
}
/* ---------- Datatable -----------*/
.dataTables_wrapper .dataTables_filter input {
    border-radius: 4px;
}

.table-bordered, th{
    border: 1px solid #dee2e6 !important;
}
[type=search] {
    outline-offset: 1px;
}